
/*#main{
  text-align: center;
  border: 1px solid black;
  margin : 50px;
}*/

body {
  height: 92%;
}
html {
  height: 92%;
}

#box1 {
  width: 700px;
  height: 550px;
  margin: 0px 30px 0px 0px;
}

#box2 {
  width: 550px;
  height: 550px;
}

#gangnammap {
  border: 1px red solid;
  width: 620px;
  height: 388px;
  margin: 50px 50px;
  float: left;
  background-image: url(./gangnamgu.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}
#accordion {
  border: 1px red solid;
  width: 400px;
  min-height: 620px;
  display: inline-block;
}

#btn {
  cursor: pointer;
}

.apgujung {
  border: 2px solid red;
  width: 45px;
  height: 25px;
  margin-top: 20px;
  margin-left: 140px;
  position: absolute;
  cursor: pointer;
 }

 .sinsa {
  border: 2px solid red;
  width: 45px;
  height: 25px;
  margin-top: 60px;
  margin-left: 150px;
  position: absolute;
  cursor: pointer;
 }
 .chungdam {
  border: 2px solid red;
  width: 45px;
  height: 25px;
  margin-top: 55px;
  margin-left: 230px;
  position: absolute;
  cursor: pointer;
 }
.nonhyeon {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 100px;
  margin-left: 160px;
  position: absolute;
  cursor: pointer;
}
.samsung {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 105px;
  margin-left: 250px;
  position: absolute;
  cursor: pointer;
}
.yeoksam {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 165px;
  margin-left: 185px;
  position: absolute;
  cursor: pointer;
}

.daechi {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 170px;
  margin-left: 270px;
  position: absolute;
  cursor: pointer;
}
.dogok {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 220px;
  margin-left: 215px;
  position: absolute;
  cursor: pointer;
}
.gaepo {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 255px;
  margin-left: 270px;
  position: absolute;
  cursor: pointer;
}
.ilwon {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 210px;
  margin-left: 345px;
  position: absolute;
  cursor: pointer;
}
.suseo {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 230px;
  margin-left: 395px;
  position: absolute;
  cursor: pointer;
}
.jagok {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 280px;
  margin-left: 410px;
  position: absolute;
  cursor: pointer;
}
.segok {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 330px;
  margin-left: 410px;
  position: absolute;
  cursor: pointer;
}
.yulhyeon {
  border: 2px solid red;
  width: 40px;
  height: 25px;
  margin-top: 295px;
  margin-left: 460px;
  position: absolute;
  cursor: pointer;
}